<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:br="http://www.w3.org/1999/xhtml" class="">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>Respiratory Diseases | WHO</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper ">
 <div class="bg"><a href=""></a>
  <div class="intro">ELECTRONIC DISEASE EARLY WARNING & RESPONSE SYSTEM</div>
  </div>
 <div class="intro">Respiratory Diseases	</div>
 <div class="form">
 <form>
     <ul>
         <h3>SARI < 5yr</h3>
         <li>

 <label>MALE</label>
 <input type="text" />
          </li>
         <li>
  <label>FEMALE</label>
 <input type="text" />
         </li>
         <h3>SARI > 5yr</h3>
         <li>
 <!---->

 <label>MALE</label>
 <input type="text" />
         </li>
         <li>
  <label>FEMALE</label>
 <input type="text" />
         </li>
         <h3>ILI < 5yr</h3>
         <li>
 <!---->

 <label>MALE</label>
 <input type="text" />
         </li>
         <li>
  <label>FEMALE</label>
 <input type="text" />
         </li>
         <h3>ILI > 5yr</h3>
         <li>
 <!---->

 <label>MALE</label>
 <input type="text" />
         </li>
         <li>
  <label>FEMALE</label>
 <input type="text" />
         </li>
<br clear="both" />
 <input type="submit"  value="SAVE & CONTINUE"/>
         </ul>
 </form>
 </div>
</div>
</body>
</html>
